body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://images.squarespace-cdn.com/content/v1/598fb42f7131a56b5d9da29d/1502808085500-MJO6WWWFJD36CS2GQPG9/Virtual+Project+Manager+-+plan+board.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
